<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-icon>date_range</mat-icon>
  Trello
  <div class="spacer"></div>
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>add_circle_outline</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Create Personal Board</button>
    <button mat-menu-item>Create Board with WorkSpace</button>
  </mat-menu>
  <a mat-button><mat-icon>home</mat-icon></a>
  <a mat-button><mat-icon>notifications</mat-icon></a>
  <a mat-button><mat-icon>face</mat-icon></a>
  <a mat-button><mat-icon>logout</mat-icon></a>
</mat-toolbar>
